#header{margin: 0 100px; padding: 0 0 5px 0; border-bottom: 1px solid #000000;}
#header h2{float: right; margin-top: 95px;}
#navigation{margin: 0 100px 30px;}
#content, #footer{margin: 0 100px;}
#content{width: auto; max-width: 100%;}
.navbar{width: 100%;}
.navbar h4{padding: .5rem; margin: 0 30px 0 0;}
.breadcrumb{background: none;}
.breadcrumb li{text-decoration: underline;}
.row{max-width: 75.875rem; margin: auto;}
.stage-row{width: 100%; max-width: 100%}
#footer{padding: 10px 50px; background-color: #f8f9fa; text-align: center; margin: 30px 0 0;}
.carousel{padding-bottom: 30px;}
.carousel img{height: 25em;}
.card{margin: auto;}
.bg-secondary hr{border-color: #000000;}
.accordion .card{background-color: #6c757d !important; border-color: #000000;}
.bg-secondary, .accordion .card .btn, .accordion .card .card-body{color: #FFFFFF;}
.btn.focus, .btn:focus{box-shadow: none;}
.hidden{display: none;}
.twitter-control{margin: 0 0 30px;}
.row h1{margin: 0 0 30px;}
#contact-form{width: 50%; margin: 30px auto 0;}
.text-item{margin: 30px auto 0; width: 50%;}